.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.contents{
  display: flex;
  height: 100%;
}
.map-container{
  width:70%;
  height: 100%;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.infomation-container{
  width: 30%;
  height: 100%;
  background-color: #FDF5E6;
  overflow: auto;
}
.infomation-table{
  margin-top: 8vh;
  width: 100%;
}
.infomation-table div{
  cursor: pointer;
}
.infomation-table .info{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:5px;
}
.infomation-table img{
  width:40px;
  height: 40px;
}
.infomation-table h5{
  font-weight: bold;
  text-align: start;
  margin-left: 10px;
  width:80%;
}
.infomation-table hr{
  width:100%;
  color:black;
  margin:0;
}
.leaflet-control-container{
  display: none;
}
.alert-box{
  margin: 10px;
  border-radius: 10px;
  background-color: #ffffffaa;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 500;
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaflet-container span{
  font-weight: bold;
}
/* Popup.js */
.modal-container {
  z-index: 500;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}
.modal{
  width: 60%;
  height: 90%;
  background-color: white;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.modal button{
  width:30px;
  height: 30px;
  align-self: flex-end;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  background: #00000000;
  border:none;
  cursor: pointer;
}
.modal .info-content{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.modal .info-content .station-name{
  font-weight: bold;
  margin: 0;
}
.modal .info-content .arrival-bus-info{
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
.arrival-bus-container{
  width:60%;
}
.arrival-bus-container div{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.arrival-bus-container span{
}
.modal .info-content .route-number{
  font-weight: bold;
  vertical-align: middle;
}
.arrival-info-container{
  width: 100%;
  height: 100%;
  overflow: auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  z-index: 500;
  background-color: #464646;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
