.App {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.contents {
  display: flex;
  height: 100%;
}

.map-container {
  width: 75%;
  height: 100%;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.information-container {
  width: 25%;
  height: 100%;
  background-color: white;
  overflow: auto;
  z-index: 400;
  box-shadow: -4px 0 2px -2px #8080806b;
}

.information-table {
  margin-top: 60px;
  width: 100%;
}

.information-table div {
  cursor: pointer;
}

.information-table .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid black;
}

.information-table img {
  width: 40px;
  height: 40px;
}

.information-table h5 {
  font-weight: bold;
  text-align: start;
  margin-left: 10px;
  width: 80%;
}

.leaflet-control-container {
  display: none;
}

.alert-box {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffffaa;
  position: absolute;
  bottom: 0;
  right: 25%;
  z-index: 500;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-container span {
  font-weight: bold;
}

.busIcon {
  width: 20px;
  height: 20px;
  padding: 2px;
}

.leaflet-tooltip-top::before {
  margin-bottom: -6px !important;
  border-top-color: #1478ff !important;
}

.leaflet-tooltip {
  background-color: #00000000 !important;
  border-style: none !important;
  box-shadow: none !important;
}

.leaflet-tooltip>div {
  background-color: white;
  border-color: #1478ff;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 5px;
  border-width: 2px;
  border: 3px solid #1478ff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
}

.leaflet-tooltip>div.select {
  background-color: #1478ff !important;
  border-style: none !important;
}

.leaflet-tooltip>div div:first-child {
  padding: 7px;
  border-radius: 100%;
  display: flex;
  background-color: #1478ff;
}

.leaflet-tooltip>div.select div:first-child {
  background-color: white;
}

.leaflet-tooltip>div div:nth-child(2) {
  margin-left: 7px;
  margin-right: 7px;
  display: flex;
  flex-direction: column;
  color: black;
}

.leaflet-tooltip>div.select div:nth-child(2) {
  color: white;
}

.leaflet-tooltip>div div span:first-child {
  font-size: 0.85rem;
  font-weight: bold;
}

.leaflet-tooltip>div div span:last-child {
  font-size: 0.6rem;
}

/* Popup.js */
.modal-container {
  z-index: 500;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  width: 60%;
  height: 90%;
  background-color: white;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.modal button {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

.modal .info-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  margin: 0 2rem 2rem 2rem;
}

.modal .info-content .station-name {
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
}

.modal .info-content .station-name .node-id {
  font-size: 1rem;
}

.modal .info-content .station-name .refresh {
  margin-left: 1rem;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  right: -2rem;
}

.modal .info-content .station-name font {
  padding: 5px 15px;
  background-color: antiquewhite;
}

.info img {
  margin: 10px;
}

.modal .info-content .route-number {
  font-weight: bold;
  vertical-align: middle;
  width: 30%;
}

.arrival-info-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal .info-content .arrival-info-container>div:first-child {
  border-top: 1px solid black;
}

.modal .info-content .arrival-info-container>div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.arrival-bus-container {
  width: 70%;
}

.arrival-bus-container div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.arrival-bus-container div span {
  width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background-color: #464646;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  box-shadow: 0 4px 2px -2px gray;
  color: white;
  font-weight: bold;
}

.App-header .logo {
  margin-left: 1rem;
}

.App-link {
  color: #61dafb;
}

/* 모바일 */
@media (max-width: 767px) {
  .alert-box {
    right: 0;
    top: 60px;
  }

  .contents {
    flex-direction: column-reverse;
  }

  .map-container {
    width: 100%;
    height: 100%;
  }

  .information-container {
    display: none;
  }

  .modal {
    width: 80%;
    height: 50%;
    position: relative;
  }

  .modal>button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .modal .info-content {
    margin-top: 2rem;
  }

  .modal .info-content .station-name {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }

  .modal .info-content .station-name .node-id {
    font-size: 0.85rem;
  }

  .modal .info-content .station-name .refresh {
    font-size: 0.85rem;
    margin-left: 1rem;
  }

  .modal .info-content .route-number {
    font-size: 0.85rem;
  }


  .arrival-bus-container div span {
    font-size: 0.75rem;
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}